.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(300);

  @include breakpoint(large) {
    height: rem-calc(400);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(500);
  }
}
