.main-container {
  @include xy-grid-container;
}

.featured-hero {
  position: relative;
  color: $white;

  &:before {
    //content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(#000, 0.5);
    z-index: 1;
  }

  .entry-title-content {
    @include xy-grid-container($width: map-get($breakpoints, large));
    position: absolute;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 5px rgba(#000, 1);
    top: 60%;
    z-index: 10;
    transform: translateY(-50%);

    @include breakpoint(medium) {
      transform: translateY(calc(-50% + 72px));
    }

    .entry-description {
      font-size: 1.2em;
    }
  }

  .flourish {
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    width: 50%;

    @include breakpoint(medium) {
      width: 30%;
    }
  }

  .flourish-a {
    left: 5%;

    img {
      transform: scaleX(-1);
    }
  }

  .flourish-b{
    right: 5%;
  }
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content {
        order: 1;
      }
      .sidebar {
        order: 2;
      }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content {
        order: 2;
      }
      .sidebar {
        order: 1;
      }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }

    h2, h3, h4, h5, h6 {
      color: $primary-color;
      line-height: 1.2;
    }

    ul {
      overflow: hidden;
      list-style: none;

      li {
        padding-left: 1em;

        &:before {
          content: '\2022';
          margin-right: 0.8em;
        }
      }
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

    .widget {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 8px solid #AeAE1B;
    }

    .widget_text {
      font-size: 1.2rem;
      background: #B13212;
      color: $white;
      padding: 1em;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
