.off-canvas-content {
  position: relative;
}

.site-header {
  background: #fff;

  .custom-logo-link {
    display: block;
    max-width: 160px;

    img {
      max-width: 100%;
    }
  }
}

body.no-featured-image {
  .site-header {
    position: relative !important;
  }
}